body{
    margin: 0;
}

div {
    background-color: white;
    border: solid black 1px;
}

.header{
    display: flex;
    justify-content: center;
}

.divDraw{
    height: 40px;
    width: 40px;
}

.container{
    display: flex;
    justify-content: center;
    border: none;
}

.containerDiv{
    display: flex;
    flex-direction: column;
    border: none;
}
